@charset 'utf-8';
h1{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif !important;
}
.card{
    position: relative;
    border: .0625rem solid #e5e5e5;
    border-radius: .25rem;
}

.card, .celeb-name {
    margin-bottom: .75rem;
}

.card-group {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.card-group .card:first-child .profile-pic {
    border-top-right-radius: 0;
}
.profile-pic {
    border-radius: .25rem .25rem 0 0;
}

.block {
    padding: 1.25rem;
}

a[role="button"] {
    background-color: #0275d8 !important;
    border-color: #0275d8 !important;
	color: #FFFFFF !important;
}

.btn-default, a:hover[role="button"] {
    background-color: #5bc0de !important; 
    border-color: #5bc0de !important;
	color: #FFFFFF !important;
}

.col-sm-6 img{
	height: 300px !important;
	border-radius: 150px !important;
	-webkit-border-radius: 150px !important;
	-moz-border-radius: 150px !important;
}

@media:all (min-width: 34em)
.col-sm-6 {
    width: 50%;
}
@media:all (min-width: 34em)
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: .9375rem;
    padding-left: .9375rem;
}
